@model EmployeeViewModel

<h3>Details @Model.Name Profile</h3>


<partial name="_PartialViews/_DeleteDetailsView" />

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index">Back To Home</a>

