@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}
<h4>Edit @Model.Name Profile</h4>

<form asp-action="Edit" enctype="multipart/form-data">
  
    <div>
        @if (Model.ImageName != null)
        {
            <img src="~/Files/Images/@Model.ImageName" class="border-info rounded-circle" style="max-width: 150px" alt="Emloyee Image">
        }
        else
        {
            <img src="~/images/6596121.png" class="rounded" width="40" height="40" alt="Emloyee Image" />
        }
    </div>

    <partial name="_PartialViews/_CreateEditPartialView" />


    <input type="submit" value="Edit"  class="btn btn-primary"/>
    <a asp-action="Index">Back To Home</a>
</form>

@section VaildationScriptSection
{
    <partial name="_ValidationScriptsPartial" />

}