@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-action="Edit" enctype="multipart/form-data">
  
    <partial name="_PartialViews/_CreateEditPartialView" />


    <input type="submit" value="Edit"  class="btn btn-primary"/>
    <a asp-action="Index">Back To Home</a>
</form>

@section VaildationScriptSection
{
    <partial name="_ValidationScriptsPartial" />

}