@model ForgetPasswordViewModel
@{
	ViewData["Title"] = "ForgetPassword";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-w3layouts wrapper">
	<h1>ForgetPassword Form</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form asp-action="SendEmail">
				<div asp-validation-summary="All" class="btn btn-danger"></div>
				<input class="text email" type="email" asp-for="@Model.Email" placeholder="Email" required="">
				<span asp-validation-for="@Model.Email" class="btn btn-danger"></span>
				<br />

				<input type="submit" value="ResetPassword">
			</form>
			
		</div>
	</div>

</div>
@section VaildationScriptSection
	{
	<partial name="_ValidationScriptsPartial"></partial>
}