@model ResetPasswordViewModel 
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ResetPassword</h1>
<div asp-validation-summary="All"></div>
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword">

			<input class="text" asp-for="@Model.NewPassword" placeholder="NewPassword" required="">
			<span asp-validation-for="@Model.NewPassword" class="btn btn-danger"></span>
			<br />

			<input class="text w3lpass" type="password" asp-for="@Model.ConfirmNewPassword" placeholder="ConfirmNewPassword" required="">
			<span asp-validation-for="@Model.ConfirmNewPassword" class="btn btn-danger"></span>
			<br />

			<input type="submit" value="ResetPassword">
		</form>
	
	</div>
</div>
