@model RoleViewModel




<partial name="_PartialViews/_DeleteDetailsView" />
<br />
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back To Home</a>

