
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Delete @Model.Email.Split('@')[0]</h1>
<div asp-validation-summary="All"></div>

<form asp-action="ConfirmDelete">

    <partial name="_PartialViews/_DeleteDetailsView" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a  class="btn btn-light">Back To Home</a>
</form>
